form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.3rem;
  }

  
input {
    font-family: Rubik;
    font-size: 18px;
    border-radius: 15px 0px 0px 15px;
    border-style: none;
    padding: 0rem 1rem;
    width: 15rem;
    letter-spacing: 0.25px;
    color: hsl(0, 0%, 59%);
    outline: none;
    
    &::placeholder {
      padding-left: 0.5rem;
      opacity: 75%;
      font-size: 12px;
    }

    &:hover {
      cursor: pointer;
    }
  }
  
  button {
    width: 3.7rem;
    height: 3.7rem;
    background-color: hsl(0, 0%, 17%);
    border-radius: 0px 15px 15px 0px;
    padding: 1.5rem;
    outline-style: none;
    border-style: none;

    &:hover {
      cursor: pointer;
      color: hsl(0, 0%, 59%);
    }
  }
  
img {
    margin-top: -0.5rem;
  }

  
@media (min-width: 1024px) {
    form {
      padding-top: 0.1rem;
    }
  
    input {
      width: 29rem;

      &::placeholder {
        font-size: 18px;
      }
    }
  }
  