#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

main {
  position: absolute;
  top: 18.75rem;
  display: flex;
  flex-direction: column;
  height: 16.35rem;
  background-color: white;
  align-self: center;
  width: 20.5rem;
  margin-top: -8.3rem;
  border-radius: 16px;
  padding: 1rem 0rem 1rem 0rem;
  z-index: 500;
}

@media (min-width: 1024px) {
  main {
    top: 20.8rem;
    height: 8rem;
    width: 69.2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}