#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

main {
  position: absolute;
  top: 18.75rem;
  display: flex;
  flex-direction: column;
  height: 16.35rem;
  background-color: white;
  align-self: center;
  width: 20.5rem;
  margin-top: -8.3rem;
  border-radius: 16px;
  padding: 1rem 0rem 1rem 0rem;
  z-index: 500;
}

section {
  margin: 0rem 1rem 0.3rem 1rem;
}

.section-title {
  color: hsl(0, 0%, 59%);
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 11px;
}

p {
  font-size: 18px;
  letter-spacing: 0.75px;
  font-weight: 700;
  line-height: 6px;
}
